<div class="about row">

    <div class="col-md-12">

       <h2>About me </h2>

       <p>
          技术负责人。
       </p>

       <p>热爱编码、热爱开源、热爱户外、热爱生活</p>

       <p>
         我喜欢这样一句话来代表对技术的热情：“我的代码曾运行在几千万用户的机器上，作为一个程序员，还有什么比这更让人满足的呢？如果有，那就是让这个用户数量再扩大 10 倍。”
       </p>

        <p><strong>About name</strong></p>

        <p>永远保持纯洁，保持微笑！</p>

        <h2>Contact</h2>
        <p><strong>Personal</strong></p>
        <ul>
            <li>Wechat：关注公众号：<strong>纯洁的微笑</strong>（扫描最下方二维码）给我留言，我会尽量及时回复</li>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Cnblogs：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>
        </ul>

        <p><strong>Group</strong></p>
        <p><em>创建了一些不同类别的QQ群，大家如果有兴趣可以加入，请不要重复入群！</em></p>

       <ul>
            <li>IT人的投资理财 - 关键字：理财</li>
            <li>springboot交流群 - 关键字：springboot</li>
            <li>互金程序员交流群 - 关键字：互金 </li>
            <li>信科（信息与计算科学专业）程序员交流群 - 关键字：信科</li>
            <li>第三方支付开发交流群 - 关键字：支付</li>
            <li>架构交流群 - 关键字：架构 </li>
        </ul>


       <h2>
         Note
       </h2>


        <p> 大家的时间都很宝贵，为了更高效的交流，我希望您可以这样</p>


       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>


       <h2>
         Tip
       </h2>


       <p align="center">
         <img src=""  style="width: 300px;height: 300px;">
       </p>
      
        <!-- Comments -->
        {% include disqus-comments.html %}
    </div>

</div>